@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Annie+Use+Your+Telescope&family=Imprima&display=swap');

html{
    background: #433633;
}

h1 {
    color: #5C5552;
    padding: 5px;
    top: 0;
    z-index: 1;
    font-size: 110px;
    font-family: 'Amatic SC', serif;
}

h2 {
    color: #DECBB7;
    padding: 10px;
    font-size: 75px;
    position: center;
    font-family: 'Annie Use Your Telescope', serif;
}

p {
    color: #433633;
    padding: 5px;
    font-size: 25px;
    font-family: 'Annie Use Your Telescope', serif;
}

b {
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: left;
    padding: 40px 0px 0px 50px;
}

.container2 {
  display: flex;
  justify-content: right;
  padding: 40px 0px 0px 50px;
}

.container3 {
  display: inline-flex;
  justify-content: center;
  padding: 20px 10px 20px 75px;
}

.absolute_image {
  position: absolute;
  right: 80px;
  top: 350px;
} 

.absolute1 {
  position: absolute;
  left: 100px;
  top: 350px;
} 

.absolute2 {
  position: absolute;
  left: 150px;
  top: 575px;
} 

.absolute3 {
  position: absolute;
  left: 0px;
  top: 845px;
} 

.header {
    padding: 1px;
    text-align: center;
    background-image: url('https://img.freepik.com/free-vector/grunge-paper-background_1048-10026.jpg?w=1800&t=st=1677719856~exp=1677720456~hmac=a33bdab228a46eaa60e4ac68f7c0878ef1ea78a20e0e0a7d31d4f00919512b08');
  }

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#box {
    border-radius: 15px 50px 30px 5px;
    padding: 20px;
    width: 350px;
    height: 200px;
    position: center;
    transition-duration: 0.2s;
    background: #DECBB7;
    opacity: 0.05;
  }

#box:hover {
    width: 500px;
    height: 200px;
    transition-duration: 0.5s;
    opacity: 1.0;
  }

#box2 {
    border-radius: 50px 15px 5px 30px;
    background: #DECBB7;
    padding: 20px;
    width: 350px;
    height: 200px;
    position: center;
    transition-duration:0.2s;
    opacity: 0.05;
  }

  #box2:hover {
    width: 500px;
    margin-left: -150px;
    transition-duration:0.5s;
    opacity: 1.0;
  }
  
#img1 {
    border-radius: 20px;
    padding: 5px;
    width: 600px;
    box-shadow: 10px 5px 5px;
    opacity: 0.3;
    transition-duration:0.1s; 
  }

  #img1:hover {
    opacity: 1.0;
    transition-duration:0.3s;
  }
  
#img2 {
    border-radius: 20px;
    width: 400px;
    box-shadow: 10px 5px 5px;
    opacity: 0.3;
    transition-duration:0.1s; 
  }

  #img2:hover {
    opacity: 1.0;
    transition-duration:0.3s;
    width: 450px;
  }

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 15%;
    height: 10%;
    border-radius: 50px 0px 0px 0px;
    background-color: #DECBB7;
    color: white;
    text-align: left;
    padding: 5px 5px 5px 5px;
    transition-duration:0.2s;
    opacity: 0.3;
 }

 .footer:hover {
  position: fixed;
  display: flex;
  width: 50%;
  height: 18%;
  transition-duration:0.5s;
  opacity: 1.0;
}

a:link {
  color: #F7F0F5;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: #8F857D;
}